git+https://github.com/openai/whisper.git
git+https://github.com/librosa/librosa
ffmpeg==1.4
Flask==2.3.2
flask_login
flask_restx==1.1.0
flask_migrate==4.0.4
sqlalchemy
flask_cors
flask_babelex
celery
kombu
flask_caching
flask_principal
marshmallow
sentry_sdk
redis
flask_admin
jinja2
pymysql
openai
gTTS
torch
googletrans==4.0.0rc1
google-cloud-storage
ffmpeg-python
PyJWT
pytest