git+https://github.com/openai/whisper.git
git+https://github.com/librosa/librosa
ffmpeg
Flask
flask_login
flask_restx
flask_migrate
sqlalchemy
flask_cors
flask_babelex
celery
kombu
flask_caching
flask_principal
marshmallow
sentry_sdk
jwt
redis
flask_admin
jinja2
pymysql
openai
gTTS