<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Learning Tool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/static/fontawesome/css/solid.css" rel="stylesheet" type="text/css">
    <link href="/static/fontawesome/css/brands.css" rel="stylesheet" type="text/css">
</head>
<body>
    <style>
        .wrongWord {
            font-weight: bold;
            color: orangered;
        }
        .rightWord {
            font-weight: bold;
            color: limegreen;
        }
        .defaultWord {
            font-weight: bold;
            color: black;
        }
        .ipa {
            color: black;
        }
        .mean {
            color: black;
        }
        .result {
            color: black;
        }
    </style>

    <div class="d-flex justify-content-center" id="question" style="margin-bottom: 5px;margin-top: 50px">
    </div>

    <div class="d-flex justify-content-center" id="ipa" style="margin-bottom: 5px;margin-top: 5px">
    </div>

    <div class="d-flex justify-content-center" id="mean" style="margin-bottom: 5px;margin-top: 5px">
    </div>

    <div class="d-flex justify-content-center" id="result" style="margin-bottom: 20px;margin-top: 5px">
    </div>


    <div class="d-flex justify-content-center align-items-center" style="margin: 10px">
        <p>
            <button id="recordButton" class="btn btn-primary rounded-circle" style="margin: 5px">
                <i id="recordButtonIcon" class="fas fa-microphone"></i>
            </button>

            <button id="changeWord" class="btn btn-primary rounded-circle" style="margin: 5px">
                <i id="changeWordIcon" class="fa-solid fa-rotate"></i>
            </button>
        </p>
    </div>
</body>
<script>
    const MIN_DECIBELS = -65;
    const MAX_SILENT_MILLISECOND = 2000;
    var currentWord = '';
    var soundDetected = null;

    navigator
        .mediaDevices
        .getUserMedia({audio: true})
        .then(stream => { handlerFunction(stream) });

    var isRecording = false;

    function lockAction() {
        recordButton.disabled = true;
        changeWord.disabled = true;
    }

    function releaseAction() {
        recordButton.disabled = false;
        changeWord.disabled = false;
    }

    function getVoice(word) {
        const params = new URLSearchParams();
        params.append('text', word.word);

        fetch(`/api/v1/voice?${params.toString()}`)
          .then(response => response.blob())
          .then(blob => {
            changeWordIcon.classList.remove('fa-spin-pulse');
            const audioUrl = URL.createObjectURL(blob);
            const audio = new Audio(audioUrl);
            var divElement = document.getElementById('question');
            divElement.innerHTML = `<p class="defaultWord">${word.word}</p>`
            var ipa = document.getElementById('ipa');
            ipa.innerHTML = `<p class="ipa">${word.ipa}</p>`
            currentWord = word.word;
            var mean = document.getElementById('mean');
            mean.innerHTML = `<p class="mean">${word.mean}</p>`;
            var result = document.getElementById('result');
            result.innerHTML = '';
            audio.play().finally(() => {
                releaseAction();
            });
          })
          .catch(error => {
            console.error('Error:', error);
            releaseAction();
          });
    }

    function changeInputValue() {
        changeWordIcon.classList.add('fa-spin-pulse');
        lockAction();

        const params = new URLSearchParams();
        params.append('excepted_word', currentWord);
        $.ajax({
            type: 'GET',
            url: `/api/v1/library?${params.toString()}`,
        }).done(function(data) {
            console.log(data);
            getVoice(data.data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            // Xử lý lỗi
            console.error('Error:', errorThrown);
            changeWordIcon.classList.remove('fa-spin-pulse');
            releaseAction();
        });
    }

    changeInputValue();

    var analyser;
    var bufferLength;
    var domainData;
    function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state == "inactive") {
                let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                sendData(blob);
            }
        }
        const audioContext = new AudioContext();
        const audioStreamSource = audioContext.createMediaStreamSource(stream);
        analyser = audioContext.createAnalyser();
        analyser.minDecibels = MIN_DECIBELS;
        audioStreamSource.connect(analyser);

        bufferLength = analyser.frequencyBinCount;
        domainData = new Uint8Array(bufferLength);

        const detectSound = () => {
          analyser.getByteFrequencyData(domainData);

          for (let i = 0; i < bufferLength; i++) {
            if (domainData[i] > 0) {
                soundDetected = Date.now();
            }
          }
          if ((soundDetected !== null) && (Date.now() - soundDetected > MAX_SILENT_MILLISECOND)) {
              console.log(soundDetected, Date.now());
              stopRecording();
          }

          window.requestAnimationFrame(detectSound);
        };

        window.requestAnimationFrame(detectSound);
    }

    function sendData(data) {
        var form = new FormData();
        form.append('file', data, 'data.mp3');
        form.append('title', 'data.mp3');
        var word = document.getElementById("word");
        form.append('input', currentWord)
        //Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            url: '/api/v1/voice',
            data: form,
            cache: false,
            processData: false,
            contentType: false,
        }).done(function(data) {
            console.log(data);
            var divElement = document.getElementById('question');
            divElement.innerHTML = data.data.result;
            var result = document.getElementById('result');
            result.innerHTML = `<p class="result">You say: ${data.data.predict}</p>`
        }).fail(function(jqXHR, textStatus, errorThrown) {
            // Xử lý lỗi
            console.error('error:', errorThrown);
        });
    }

    function startRecording() {
        console.log('Recording are started..');
        recordButton.classList.remove('btn-primary');
        recordButton.classList.add('btn-danger');
        recordButtonIcon.classList.add('fa-beat');
        audioChunks = [];
        isRecording = true;
        soundDetected = null;
        rec.start();
    }

    function stopRecording() {
        console.log("Recording are stopped.");
        recordButton.classList.remove('btn-danger');
        recordButton.classList.add('btn-primary');
        recordButtonIcon.classList.remove('fa-beat');
        isRecording = false;
        rec.stop();
        soundDetected = null;
    }

    recordButton.onclick = e => {
        if (isRecording) {
            stopRecording();
        } else {
            startRecording();
        }
    }

    changeWord.onclick = e => {
        changeInputValue();
    };
</script>
</html>